<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title>Simple Login</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/css/login.css}">
        <script th:src="@{/js/bootstrap/bootstrap.js}"></script>
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>

    </head>
    <!-- custom javascript  -->
    <th:block layout:fragment="script"></th:block>
</html>